/*1.*/
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto Sans TC:wght@400;500;800&family=Great+Vibes&family=Righteous&display=swap");

@font-face {
  font-family: RemachineScript;
  src: url(/public/webfonts/RemachineScript.ttf);
}

@font-face {
  font-family: SerandaniDemoRegular;
  src: url(/public/webfonts/SerandaniDemoRegular.ttf);
}

/*2.*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  margin: 50;
  line-height: 1;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 0px;
  justify-content: space-between;
  color: rgba(221, 162, 95, 1);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 變數 */
:root {
  /* 灰階 */
  --pink: #8a2be2;
  --blue: #00008b;
  --antiquewhite: #a52a2a;
  --light: #ecfbff;
  /* 主色調 */
  --text-color: #492300;
  --accent-color: #5f6d37;
  --major-color: #bb6b25;
  --major-color2: #8d521e;
  --major-color3: #bc6c25;
  --second-color: #dda25f;
  /* 輔助色調 */
  --bg-color1: #fffcf5;
  --bg-color2: #fff8e4;
  --lasser-color: #e0e0e0;
  --a-color: rgba(252, 255, 232, 0.5);
}

/*3.網頁設計常用的設定，把原本的型態改掉*/
* {
  /*星號代表全域，全部領域*/
  box-sizing: border-box;
  /*不累加邊框和內距，間距還是會累加*/
}

a {
  display: block;
  text-decoration: none;
  /*修改預設值underline*/
}

img {
  display: block;
  width: 100%;
}

#gotop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 999;
  width: 50px;
  height: 50px;
  background-color: var(--major-color);
  border-radius: 50%;

  font-size: 40px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}

/* 卷軸行為:滑動 */
html,body {
  scroll-behavior: smooth;
}

body {
  font-family:
/*西文*/
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial,
/*中文*/
    "蘋方-繁",
    "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Noto Sans TC",
    sans-serif;
}
body {
    background: var(--bg-color1);
}

/* 主圖內容 */
#bigcake{
    margin-top: 16vh;
    position: relative;
    /* width: 100%; */
}
#bigcake div hr{
  opacity: 30%;
}
#bigcake .bigcake-title{
    display: flex;
}
#bigcake .bigcake-title h1{
    align-items: center;
    padding-bottom: 40px; padding-top: 40px;
    display: flex;
    margin: auto;
    color: var(--major-color2);
    font-family: "Noto Sans TC";
    font-size: 1.8rem;
    font-weight: 500;
}
#bigcake .bigcake-title .soy2{
    position: absolute;
    width: 55px; height: 68px;
    top: 30px;
    left: 700px;
    z-index: 9;
}
#bigcake .content{
  align-items: center;
  font-size: 1rem;
  color: var(--major-color3);
  font-family: "Noto Sans TC";
  text-align: center;
  line-height: 30px;
  margin-bottom: 60px;
}
#bigcake .bigcake-main{
  position: relative;
}
#bigcake .bigcake-main .main_pic{
    margin: auto;
    width: 1575px; 
    /* height: 874px; */
    border-radius: 30px;
}
#bigcake .bigcake-main .cherry2{
    position: absolute;
    width: 153px; height: 181px;
    right: 111px; top: 0px;
    animation: pulse 0.4s infinite; /* 使用名为 pulse 的动画，持续时间为 2 秒，无限循环 */
  }
  @keyframes pulse {
      0% {
          transform: scale(1); /* 初始大小 */
      }
      50% {
          transform: scale(1.02); /* 放大到 1.02 倍 */
      }
      100% {
          transform: scale(1); /* 返回原始大小 */
      }
  }

#bigcake .bigcake-main .heart3{
    position: absolute;
    width: 110px;
    bottom: -1px; right: 167px;
    display: none;
}
#bigcake .bigcake-main:hover .heart3{
  display: block;
}

/* 食譜步驟 */
#bigcake .process{
    display: flex;
    margin-left: 170px;
    margin-bottom: 95px; 
    line-height: 50px;
}
#bigcake .process .info{
    position: relative;
    flex-direction: column;
}
#bigcake .process .info, .recipe1 h4{
    display: flex;
    font-size: 1.5rem;
    color: var(--major-color3);
    font-family: "Noto Sans TC";
    font-weight: 500;
    margin-bottom: 15px; 
    margin-top: 60px;
}
#bigcake .process .info p{
    font-size: 1.1rem;
    color: var(--major-color2);
    font-family: "Noto Sans TC";
    font-weight: 300;
    text-align: left;
    letter-spacing: 2px;
}
#bigcake .process .hashtag{
  display: flex;
  flex-direction: column;
}
#bigcake .process .hashtag p{
    text-align: center;
    align-items:center;
    color: var(--major-color3);
    border: solid 1.3px var(--major-color3);
    border-radius: 10px;
    width: 85px; height: 50px;
    margin-right: 10px ;
    margin-bottom: 10px;
    font-family: "Noto Sans TC";
    
}
#bigcake .process .info-yam{
  width: 266px;
  margin-top: 80px;
  animation: pulse 0.5s infinite; /* 使用名为 pulse 的动画，持续时间为 2 秒，无限循环 */
  }
  @keyframes pulse {
      0% {
          transform: scale(1); /* 初始大小 */
      }
      50% {
          transform: scale(1.02); /* 放大到 1.2 倍 */
      }
      100% {
          transform: scale(1); /* 返回原始大小 */
      }
  }

.hashtag-1, .hashtag-2, .hashtag-3, .hashtag-4, .hashtag-5, .hashtag-6{
  display: flex;
}

.recipe1{
  flex-direction: column;
  margin-left: 50px;
}
.recipe1 h4{
    display: flex;
    font-size: 1.5rem;
    color: var(--major-color3);
    font-family: "Noto Sans TC";
    font-weight: 500;
    margin-bottom: 0px; 
    margin-top: 60px;
}

/* 步驟一 */
.recipe1 .recipe-content1and2{
  margin: 45px 0 50px 0;
  display: flex;
}
.recipe1 .content1{
  padding-right: 60px;
}
.recipe1 .recipe-content1and2 img{
  width: 600px; height: 450px;
}
.recipe1 .recipe-content1and2 .text1{
  display: flex;
  margin-top: 30px;
}
.recipe-content1and2 .text1 .num1{
  font-size: 4rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: var(--second-color);
  margin:0 30px 0 10px;
}
.recipe-content1and2 .text1 .describe1{
  font-size: 1.1rem;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: var(--major-color2);
  line-height: 20px;
  letter-spacing: 3px;
}

/* 步驟二 */
.recipe1 .recipe-content1and2 .text2{
  display: flex;
  margin-top: 30px;
}
.recipe1 .content2{
  padding-right: 60px;
}
.recipe-content1and2 .text2 .num2{
  font-size: 4rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: var(--second-color);
  margin:0 30px 0 10px;
}
.recipe-content1and2 .text2 .describe2{
  font-size: 1.1rem;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: var(--major-color2);
  line-height: 20px;
  letter-spacing: 3px;
}

/* 步驟三*/
.recipe1 .recipe-content3and4{
  margin: 45px 0 50px 0;
  display: flex;
}
.recipe1 .content3{
  padding-right: 60px;
}
.recipe1 .recipe-content3and4 img{
  width: 600px; height: 450px;
}
.recipe1 .recipe-content3and4 .text3{
  display: flex;
  margin-top: 30px;
}
.recipe-content3and4 .text3 .num3{
  font-size: 4rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: var(--second-color);
  margin:0 30px 0 10px;
}
.recipe-content3and4 .text3 .describe3{
  font-size: 1.1rem;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: var(--major-color2);
  line-height: 20px;
  letter-spacing: 3px;
}

/* 步驟四*/
.recipe1 .recipe-content3and4 .text4{
  display: flex;
  margin-top: 30px;
}
.recipe1 .content4{
  padding-right: 60px;
}
.recipe-content3and4 .text4 .num4{
  font-size: 4rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: var(--second-color);
  margin:0 30px 0 10px;
}
.recipe-content3and4 .text4 .describe4{
  font-size: 1.1rem;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: var(--major-color2);
  line-height: 20px;
  letter-spacing: 3px;
}

/* 步驟五*/
.recipe1 .recipe-content5and6{
  margin: 45px 0 0 0;
  display: flex;
}
.recipe1 .content5{
  padding-right: 60px;
}
.recipe1 .recipe-content5and6 img{
  width: 600px; height: 450px;
}
.recipe1 .recipe-content5and6 .text5{
  display: flex;
  margin-top: 30px;
}
.recipe-content5and6 .text5 .num5{
  font-size: 4rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: var(--second-color);
  margin:0 30px 0 10px;
}
.recipe-content5and6 .text5 .describe5{
  font-size: 1.1rem;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: var(--major-color2);
  line-height: 20px;
  letter-spacing: 3px;
}
/* 步驟六*/
.recipe1 .recipe-content5and6 .text6{
  display: flex;
  margin-top: 30px;
}
.recipe1 .content6{
  padding-right: 60px;
}
.recipe-content5and6 .text6 .num6{
  font-size: 4rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: var(--second-color);
  margin:0 30px 0 10px;
}
.recipe-content5and6 .text6 .describe6{
  font-size: 1.1rem;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: var(--major-color2);
  line-height: 20px;
  letter-spacing: 3px;
}

/* 步驟七*/
.recipe1 .recipe-content7and8{
  margin: 60px 0 0 0;
  display: flex;
}
.recipe1 .content7{
  padding-right: 60px;
}
.recipe1 .recipe-content7and8 img{
  width: 600px; height: 450px;
}
.recipe1 .recipe-content7and8 .text7{
  display: flex;
  margin-top: 30px;
}
.recipe-content7and8 .text7 .num7{
  font-size: 4rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: var(--second-color);
  margin:0 30px 0 10px;
}
.recipe-content7and8 .text7 .describe7{
  font-size: 1.1rem;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: var(--major-color2);
  line-height: 20px;
  letter-spacing: 3px;
}
/* 步驟八*/
.recipe1 .content8{
  padding-right: 60px;
}
.recipe1 .recipe-content7and8 .text8{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.recipe-content7and8 .text8 .num8{
  font-size: 4rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: var(--second-color);
  margin:0 30px 0 10px;
}
.recipe-content7and8 .text8 .describe8{
  font-size: 1.1rem;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: var(--major-color2);
  line-height: 20px;
  letter-spacing: 3px;
}

.hr-bottom{
  opacity: 80%;
}

.seemore-btn1 a{
  margin-top: 40px;
}
.seemore-btn1 p{
  margin: auto;
  position: relative;
  width: 298px;
  height: 70px;
  color: var(--bg-color1);
  background-color: var(--accent-color);
  font-size: 25px;
  text-align: center;
  padding-top: 22px;
  border-radius: 50px;
}
.seemore-btn1 p:hover{
  background-color: var(--major-color3);
}

.more-rec{
  width: 1721px;
  margin: 60px 100px 90px 100px;
  margin-bottom: 90px;
}
.more-rec img{
  width: 296px;
  height: 367px;
}
.more-rec{
  gap: 60px;
  display: flex;
  width: 296px;
  height: 367px;
}
